<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tiny.cloud/1/2kv5vifv8p9x56kiyr5n8n0kj30tz7apd3482ldsbh0vqsyj/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <title>Edit Journal Entry</title>
</head>
<body class="edit-entry">
    <%- include ('../partials/header') %>
    <h4 class="mt-5 mb-5" id="edit-entry-header">Edit Entry for <%= entry.title %></h4>
    <form action="/users/profile/entries/<%= entry._id %>?_method=PUT" method="post">
        <textarea name="body"><%= entry.body %></textarea>
        <br />
        <input class="mt-5" id="update-entry" type="submit" value="Update Entry">
    </form>
    <a href="/users/profile"><button class="mt-5" id="cancel-btn">Cancel</button></a>
</body>

<!-- RICH TEXT EDITOR CONFIG -->
<script>
    tinymce.init({
      selector: 'textarea',
      plugins: 'a11ychecker advcode casechange formatpainter emoticons linkchecker autolink lists checklist media mediaembed pageembed permanentpen powerpaste table advtable tinycomments tinymcespellchecker',
      toolbar: 'a11ycheck media casechange checklist code emoticons',
      toolbar_mode: 'floating',
      tinycomments_mode: 'embedded',
      tinycomments_author: 'Author name',
    });
  </script>
</html>