<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tiny.cloud/1/2kv5vifv8p9x56kiyr5n8n0kj30tz7apd3482ldsbh0vqsyj/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <title>Create a New Entry</title>
</head>
<body class="new-entry">

    <%- include ('../partials/header') %>

  

    <h1 class="mt-5" id="new-entry-header">Hello, glad to have you back.</h1>
    <form action="/users/profile/entries" method="POST">
        <label class="mt-4" id="entry-label" for="title">Would you like to name your entry?</label>
        <input type="text" name="title" value="<%= new Date %>">
        <br />
        <label class="mt-5 mb-4" id="entry-content" for="body"> <i class="bi bi-vector-pen"></i> Let's get started:</label>
        <div class="h-100" id="editor-div" class="container">
            <textarea id="editor" name="body"></textarea>
        </div>
        <br />
        <input id="submit-btn" type="submit" value="Submit Journal Entry">
    </form>
    <br />
    <a href="/users/profile"><button id="cancel-btn">Cancel</button></a>
</body>

<!-- RICH TEXT EDITOR CONFIG -->
<script>
    tinymce.init({
      selector: 'textarea',
      plugins: 'a11ychecker advcode casechange formatpainter emoticons linkchecker autolink lists checklist media mediaembed pageembed permanentpen powerpaste table advtable tinycomments tinymcespellchecker',
      toolbar: 'a11ycheck media casechange checklist code emoticons',
      toolbar_mode: 'floating',
      tinycomments_mode: 'embedded',
      tinycomments_author: 'Author name',
    });
  </script>
</html>