<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Include stylesheet -->
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">

    <script src="https://cdn.tiny.cloud/1/2kv5vifv8p9x56kiyr5n8n0kj30tz7apd3482ldsbh0vqsyj/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <title>Create a New Entry</title>
</head>
<body class="new-entry">

    <%- include ('../partials/header') %>

    <!-- Create the editor container -->
<div id="editor">
    <p>Hello World!</p>
    <p>Some initial <strong>bold</strong> text</p>
    <p><br></p>
</div>


    <h1 class="mt-5" id="new-entry-header">Hello, glad to have you back.</h1>
    <form action="/users/profile/entries" method="POST">
        <label class="mt-4" id="entry-label" for="title">Would you like to name your entry?</label>
        <input type="text" name="title" value="<%= new Date %>">
        <br />
        <label class="mt-5 mb-4" id="entry-content" for="body"> <i class="bi bi-vector-pen"></i> Let's get started:</label>
        <div class="h-100" id="editor-div" class="container">
            <textarea id="editor" name="body"></textarea>
        </div>
        <br />
        <input id="submit-btn" type="submit" value="Submit Journal Entry">
    </form>
    <br />
    <a href="/users/profile"><button id="cancel-btn">Cancel</button></a>
</body>



<!-- RICH TEXT EDITOR CONFIG -->
<script>
    tinymce.init({
    selector: 'textarea',
    plugins: 'a11ychecker advcode casechange formatpainter emoticons linkchecker autolink lists checklist media mediaembed pageembed permanentpen powerpaste table advtable tinycomments tinymcespellchecker',
    toolbar: 'a11ycheck media casechange checklist code emoticons',
    toolbar_mode: 'floating',
    tinycomments_mode: 'embedded',
    tinycomments_author: 'Author name',
    });
</script>

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

<!-- Include the Quill library -->
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>



<!-- Initialize Quill editor -->
<script>
    var quill = new Quill('#editor', {
    theme: 'snow'
    });
</script>



</html>