<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a New Entry</title>
</head>
<body>
    <%- include ('../partials/header') %>
    <h1>Create a New Journal Entry</h1>
    <form action="/users/<%= userId %>/entries" method="POST">
        <label for="title">Entry Date/Title</label>
        <input type="text" name="title" value="<%= new Date %>">
        <br />
        <label for="body">Entry Content</label>
        <textarea name="body"></textarea>
        <br />
        <input type="submit" value="Submit Journal Entry">
    </form>
    <br />
    <a href="/users/<%= userId %>"><button>Cancel</button></a>
</body>
</html>