<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View an Entry</title>
</head>
<body>
    <h2><%= entry.title %></h2>
    <p><%= entry.body %></p>
    <!-- <section class="edit">
        <a href="//entries//edit"><button>Edit Entry</button></a>
    </section>
    <br />
    <section class="delete">
        <form action="/users//entries/?_method=DELETE" method="post">
            <input type="submit" value="Delete Entry">
        </form>
    </section> -->
</body>
</html>